@media (max-width: 768px) {
    nav {
        display: none;
    }
    }
    
@media (max-width: 576px) {
    .icons {
        display: flex;
    }
    

    .icons img {
        margin: 50px 20px;
    }
    }

@media (max-width: 430px) {
    .circle {
        width: 90vw;
        height: 90vw;
    }
}